<!DOCTYPE html>
<html>
  <head>
    <%# == Favicon %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <%# == Meta %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%# == Meta: GraphQL %>
    <meta name="graphql-url" content="<%= graphql_path %>">

    <%# == Meta: Honeybadger %>
    <% Honeybadger.config[:client_api_key].presence.try! do |api_key| %>
      <meta name="honeybadger-api-key" content="<%= api_key %>">
      <% Honeybadger.config[:revision].presence.try! do |revision| %>
        <meta name="honeybadger-revision" content="<%= revision %>">
      <% end %>
      <% if user_signed_in? %>
        <meta
          name="honeybadger-context"
          content="<%= current_user.honeybadger_context.to_json %>"
        >
      <% end %>
    <% end %>

    <%# == Meta: FullStory %>
    <% ENV["FULLSTORY_ORG_ID"].presence.try! do |org_id| %>
      <meta name="fullstory-org-id" content="<%= org_id %>">
      <% if user_signed_in? %>
        <meta
          name="fullstory-identity"
          content="<%= current_user.fullstory_identity.to_json %>"
        >
      <% end %>
    <% end %>

    <%# == Meta: SEO %>
    <%= display_meta_tags(
      reverse: true,
      site: "It's Kai!",
      description: "Welcome to my little corner of the internet :)",
      og: {
        title: :title,
        site_name: :site,
        description: :description,
        image: "/banner.png",
      },
    ) %>

    <%# == Scripts %>
    <%= vite_client_tag %>
    <%= vite_typescript_tag 'honeybadger' %>
    <%= vite_typescript_tag 'fullstory' %>
    <% if local_assigns.include?(:page) %>
      <%= vite_react_refresh_tag %>
      <%= vite_typescript_tag 'application' %>
    <% end %>

    <%# == Inertia %>
    <% InertiaRails.html_headers.each do |header| %>
      <%== header %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
