<!DOCTYPE html>
<html>
  <head>
    <title>It's Kai</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%# == Security == %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# == Packs == %>
    <%= javascript_pack_tag %>
    <%= stylesheet_pack_tag %>

    <%# == Styles == %>
    <%= yield :styles %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
