<!DOCTYPE html>
<html>
  <head>
    <%# == Favicon %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <%# == Fonts %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:wght@400..800&display=swap" rel="stylesheet">

    <%# == Viewport %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%# == Content Security Policy %>
    <%= csp_meta_tag %>

    <%# == Action Cable %>
    <%= action_cable_meta_tag %>

    <%# == GraphQL %>
    <meta name="graphql-url" content="<%= graphql_path %>">

    <%# == Honeybadger %>
    <% Honeybadger.config[:client_api_key].presence.try! do |api_key| %>
      <meta name="honeybadger-api-key" content="<%= api_key %>">
      <% Honeybadger.config[:revision].presence.try! do |revision| %>
        <meta name="honeybadger-revision" content="<%= revision %>">
      <% end %>
      <% if user_signed_in? %>
        <meta name="honeybadger-context" content="<%= current_user.honeybadger_context.to_json %>">
      <% end %>
    <% end if false %>

    <%# == FullStory %>
    <% ENV["FULLSTORY_ORG_ID"].presence.try! do |org_id| %>
      <meta name="fullstory-org-id" content="<%= org_id %>">
      <% if user_signed_in? %>
        <meta name="fullstory-identity" content="<%= current_user.fullstory_identity.to_json %>">
      <% end %>
    <% end %>

    <%# == Vite %>
    <%= vite_client_tag %>
    <%#= vite_typescript_tag "honeybadger" %>
    <%= vite_typescript_tag "fullstory" %>
    <% if local_assigns.include?(:page) %>
      <%= vite_react_refresh_tag %>
      <%= vite_typescript_tag "application" %>
    <% end %>

    <%# == Google Analytics %>
    <% ENV["GOOGLE_ANALYTICS_MEASUREMENT_ID"].presence.try! do |measurement_id| %>
      <script src="https://www.googletagmanager.com/gtag/js?id=<%= measurement_id %>" async></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){ dataLayer.push(arguments); }
        gtag("js", new Date());
        gtag("config", "<%= measurement_id %>");
      </script>
    <% end %>

    <%# == Inertia %>
    <%== inertia_headers %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
