<!DOCTYPE html>
<html lang="en">
  <head>
    <%# == Favicon %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <%# <link rel="manifest" href="/site.webmanifest" inertia> %>

    <%# == Viewport %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%# == Content Security Policy %>
    <%= csp_meta_tag %>

    <%# == CSRF %>
    <meta name="csrf-param" content="<%= request_forgery_protection_token %>" inertia>
    <meta name="csrf-token" content="<%= form_authenticity_token %>" inertia>

    <%# == Environment %>
    <meta name="env" content="<%= Rails.env %>">

    <%# == Action Cable %>
    <%= action_cable_meta_tag %>

    <%# == Active Storage %>
    <meta name="active-storage-direct-uploads-url" content="<%= rails_direct_uploads_path %>">
    <% if (direct_uploads_size_limit = Rails.configuration.active_storage.direct_uploads_size_limit) %>
      <meta name="active-storage-direct-uploads-size-limit" content="<%= direct_uploads_size_limit %>">
    <% end %>

    <%# == Sentry %>
    <% if Sentry.initialized? %>
      <% config = Sentry.configuration %>
      <meta name="sentry-dsn" content="<%= config.dsn %>">
      <meta name="sentry-traces-sample-rate" content="<%= config.traces_sample_rate %>">
      <meta name="sentry-profiles-sample-rate" content="<%= config.profiles_sample_rate %>">
    <% end %>

    <%# == Fullstory %>
    <% if (settings = Fullstory.settings) %>
      <meta name="fullstory-org-id" content="<%= settings.org_id %>">
    <% end %>

    <%# == Clarity %>
    <% if (settings = Clarity.settings) %>
      <meta name="clarity-project-id" content="<%= settings.project_id %>">
    <% end %>

    <%# == Vite %>
    <%= vite_client_tag %>
    <%= vite_typescript_tag "spotlight" if Rails.env.development? %>
    <% if local_assigns.include?(:page) %>
      <%= vite_react_refresh_tag %>
      <%= vite_javascript_tag "application.tsx", media: nil %>
    <% end %>

    <% # == Mapbox %>
    <% if (token = Mapbox.access_token) %>
      <meta name="mapbox-access-token" content="<%= token %>">
    <% end %>

    <%# == Inertia %>
    <%== inertia_headers %>
    <%== inertia_assets type: :page, media: nil %>
  </head>

  <body>
    <%= yield %>

    <%# == PWA install %>
    <script>
      window.addEventListener("beforeinstallprompt", event => {
        event.preventDefault();
        window.installPromptEvent = event;
      });
    </script>

  </body>
</html>
